* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    background: #1abc9c;
    overflow: hidden;
}