.wrapper {
    --border-radius: 8px;
    max-width: 400px;
    width: 100%;
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.wrapper .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    background: var(--color-secundary-login);
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    font-weight: 600;
}

.wrapper .title img {
    height: 80px;
    width: auto;
}

.title span {
    color: var(--color-white);
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 35px;
}

.wrapper form .row {
    height: 40px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 50px;
    border-radius: var(--border-radius);
    border: 1px solid lightgrey;
    font-size: 18px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: var(--color-secundary-login);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row img {
    position: absolute;
    width: 38px;
    padding: 8px;
    height: 100%;
    color: var(--color-white);
    font-size: 22px;
    background: var(--color-secundary-login);
    border: 1px solid var(--color-secundary-login);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    color: var(--color-main);
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass:hover {
    text-decoration: underline;
}

.wrapper form .button-form input {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: var(--color-secundary-login);
    border: 1px solid var(--color-secundary-login);
    cursor: pointer;
}

form .button-form input:hover {
    background: var(--color-main-login);
}

.wrapper form .button-form button {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: var(--color-secundary-login);
    border: 1px solid var(--color-secundary-login);
    cursor: pointer;
}

form .button-form button:hover {
    background: var(--color-main-login);
}

.wrapper form .signup-link {
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

.wrapper form .signup-link {
    color: var(--color-secundary-login);
    text-decoration: none;
}

form .signup-link:hover {
    text-decoration: underline;
}

